.App-header {
  background-color: #d41d1d;
  min-height: 300px;
  
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerInput {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}

.pokeSearch {
  margin-top: .3em;
  margin-right: 1em;
}

.dropDown {
  margin-right: 1em;
}

.Pokemon-list,
.moreStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pokeimg,
.pokeStatsImg {
max-width: 50%;
max-height: 50%;
margin: 0 auto;
}

.pokemontext {
  padding-left: 0;
}

.pokecard {
  height: 300px;
  width: 300px;
  margin: 0;
}

.pokeStats {
  list-style: none;
  text-align: center;
}

.statCard {
  height: 500px;
  width: 500px;
  margin: 0;
}
